body {
    margin: 0;
    padding: 0;;
}

.home_header {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden;
    background-color: #d97b41;
    margin-top: 60px;
}
.home_logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
    object-fit: cover; 
}
.data {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.header_container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header_container p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.shampoobtn {
    background-color: #ff7f50; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.shampoobtn:hover {
    background-color: #ff6347; 
}