body {
    background-color: rgb(255, 252, 249);
}

.home_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
}

.skincare-video {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 120px;
    object-fit: cover;
}

h6 {
    font-size: 84px;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 300;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .slide.active {
    left: 0;
    opacity: 1;
  }
  
  .slide_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.data {
    text-align: center;
}

.header_container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-top: 30px;
}

.header_container:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.header_container h1 {
    font-family: sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.header_container p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.skincarebtn {
    background-color: #5477d2;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.skincarebtn:hover {
    background-color: #3f5aa7;
}

.products {
    margin-top: 150px;
    font-size: 49px;
    font-family: sans-serif;
}

.box {
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
}

.box_2 {
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    margin-top: 40px;
}

.box1 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
}

.box1:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box1-content {
    display: flex;
}

.add {
    justify-content: center;
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color:#5477d2;
    color: white;
    bottom: 50px;
    position: relative;
    font-size: 17px;
}

.add:hover {
    background-color: white;
    color: black;
}


.add1 {
    justify-content: center;
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color:#5477d2;
    color: white;
    bottom: 125px;
    position: relative;
    font-size: 17px;
}


.add1:hover {
    background-color: white;
    color: black;
}

.add2 {
    justify-content: center;
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color:#5477d2;
    color: white;
    bottom: 90px;
    position: relative;
    font-size: 17px;
}


.add2:hover {
    background-color: white;
    color: black;
}

.add4 {
    justify-content: center;
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color:#5477d2;
    color: white;
    bottom: 105px;
    position: relative;
    font-size: 17px;
}


.add4:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


.box2 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box2:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.box3 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box3:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.box4 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box4:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box10 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    transition: transform .2s ease-out, box-shadow .2s ease;
}

.box10:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box11 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box11:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box12 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box12:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box13 {
    background-color: white;
    height: 410px;
    width: 80%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-out, box-shadow .2s ease;
    margin-left: 30px;
    padding: 5px;
}

.box13:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.faceWash {
    width: 80%;
}

.facewash {
    width: 80%;
}

.facewash2 {
    width: 60%;
}

.faceWash3 {
    width: 65%;
}

.product-txt {
    color: grey;
    font-family: sans-serif;
    right: 130px;
    top: -30px;
    position: relative;
    font-weight: 300;
}

.product-txt1 {
    color: grey;
    font-family: sans-serif;
    right: 110px;
    top: -30px;
    position: relative;
    font-weight: 300;
}

.product-txt2 {
    color: grey;
    font-family: sans-serif;
    right: 110px;
    top: -49px;
    position: relative;
    font-weight: 300;
}

.product-txt4 {
    color: grey;
    font-family: sans-serif;
    right: 90px;
    top: -37px;
    position: relative;
    font-weight: 300;
}

.product-txt5 {
    color: grey;
    font-family: sans-serif;
    right: 105px;
    top: -27px;
    position: relative;
    font-weight: 300;
}

.product-txt6 {
    color: grey;
    font-family: sans-serif;
    right: 128px;
    top: -24px;
    position: relative;
    font-weight: 300;
}

.product-txt7 {
    color: grey;
    font-family: sans-serif;
    right: 129px;
    top: -24px;
    position: relative;
}

.product-heading {
    font-size: 19px;
    top: -40px;
    right: 50px;
    color: black;
}

.product-heading1 {
    font-size: 19px;
    top: -40px;
    right: 59px;
    color: black;
}

.product-heading2 {
    font-size: 19px;
    top: -58px;
    right: 69px;
    color: black;
}

.product-heading4 {
    font-size: 19px;
    top: -45px;
    right: 69px;
    color: black;
}

.product-heading5 {
    font-size: 19px;
    top: -40px;
    right: 89px;
    color: black;
}

.product-heading6 {
    font-size: 19px;
    top: -35px;
    right: 45px;
    color: black;
}

.product-heading7 {
    font-size: 19px;
    top: -35px;
    right: 68px;
    color: black;
}

.product-text {
    bottom: 50px;
    right: 0px;
    position: relative;
    color: black;
    font-family: sans-serif;
}


.product-t {
    bottom: 50px;
    right: 65px;
    position: relative;
    color: black;
    font-family: sans-serif;
}

.product-t1 {
    bottom: 50px;
    right: 90px;
    position: relative;
    color: black;
    font-family: sans-serif;
}


.product-t2 {
    bottom: 69px;
    right: 85px;
    position: relative;
    color: black;
    font-family: sans-serif;
}


.product-t3 {
    bottom: 49px;
    right: 75px;
    position: relative;
    color: black;
    font-family: sans-serif;
}

.product-t4 {
    bottom: 49px;
    right: 100px;
    position: relative;
    color: black;
    font-family: sans-serif;
}

.product-t5 {
    bottom: 45px;
    right: 75px;
    position: relative;
    color: black;
    font-family: sans-serif;
}

.product-t6 {
    bottom: 45px;
    right: 75px;
    position: relative;
    color: black;
    font-family: sans-serif;
}

.ratings {
        color: #f39c12;
        font-size: 1.2em;
        top: -60px;
        display: flex;
        position: relative;
        justify-content: center;
        margin-left: 120px;
}

.price {
    position: relative;
    top: -85px;
    margin-left: 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.rates {
    color: #f39c12;
    font-size: 1.2em;
    top: -80px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 120px;
}

.prices {
position: relative;
top: -105px;
margin-left: 10px;
font-size: 18px;
font-family: sans-serif;
}

@media screen and (max-width: 768px){
    .box {
        flex-direction: column;
        width: 65%;
    }

    .box_2 {
        flex-direction: column;
        width: 65%;
    }

    .box1 {
        margin-left: 50px;
        height: 535px;
    }

    .box1-content {
        margin-left: 10px;
        margin-top: 10px;
    }

    .add4 {
        top: -110px;
    }

    .ratings {
        left: 60px;
    }

    .price {
        font-size: 21px;
        position: relative;
        top: -90px;
    }

    .product-txt {
        margin-top: 40px;
        font-size: 23px;
        left: -150px;
        position: relative;
    }

    .product-heading {
        left: -60px;
        font-size: 23px;
    }

    .product-t1 {
        position: relative;
        right: 110px;
        font-size: 19px;
    }

    .box2 {
        margin-left: 50px;
        margin-top: 65px;
        height: 535px;
    }

    .product-txt1 {
        margin-top: 40px;
        font-size: 23px;
        left: -120px;
        position: relative;
    }

    .product-heading1 {
        left: -70px;
        font-size: 23px;
    }

    .product-t {
        position: relative;
        right: 80px;
        font-size: 19px;
    }

    .box3 {
        margin-left: 50px;
        margin-top: 65px;
        height: 535px;
    }

    .product-txt2 {
        margin-top: 40px;
        font-size: 23px;
        left: -120px;
        position: relative;
    }

    .product-heading2 {
        left: -85px;
        font-size: 23px;
    }

    .product-t2 {
        position: relative;
        right: 105px;
        font-size: 19px;
    }

    .rates {
        left: 60px;
    }

    .prices {
        font-size: 21px;
        position: relative;
        top: -110px;
    }

    .add1 {
        top: -135px;
    }

    .box4 {
        margin-left: 50px;
        margin-top: 65px;
        height: 535px;
    }

    .product-txt6 {
        margin-top: 40px;
        font-size: 23px;
        left: -150px;
        position: relative;
    }

    .product-heading7 {
        left: -85px;
        font-size: 23px;
    }

    .product-t5 {
        position: relative;
        right: 104px;
        font-size: 19px;
    }

    .box10 {
        margin-left: 50px;
        margin-top: 25px;
        height: 535px;
    }

    .product-t3 {
        position: relative;
        right: 102px;
        font-size: 19px;
    }

    .box11 {
        margin-left: 50px;
        margin-top: 65px;
        height: 535px;
    }

    .product-txt4 {
        margin-top: 40px;
        font-size: 23px;
        left: -105px;
        position: relative;
    }

    .product-heading4 {
        left: -90px;
        font-size: 23px;
    }

    .box12 {
        margin-left: 50px;
        margin-top: 65px;
        height: 535px;
    }

    .product-txt5 {
        margin-top: 40px;
        font-size: 23px;
        left: -120px;
        position: relative;
    }

    .product-heading5 {
        left: -115px;
        font-size: 23px;
    }


    .product-txt4 {
        margin-top: 40px;
        font-size: 23px;
        left: -105px;
        position: relative;
    }

    .box13 {
        margin-left: 50px;
        margin-top: 65px;  
        height: 535px;
    }

    .product-txt6 {
        margin-top: 40px;
        font-size: 23px;
        left: -120px;
        position: relative;
    }

    .product-heading6 {
        left: -60px;
        font-size: 23px;
    }

    .add2 {
        top: -102px;
    }
}