body {
    margin: 0;
}
.navbar_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e1d4f;
    padding: 10px;
    color: white;
    height: 90%;
}

.heading_logo {
    width: 30%;
    position: relative;
    right: -130px;
    top: 4px;
}

.link {
    top: 1px;
    color: white;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
}

.search {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 24px;
    padding: 7px 7px 7px 30px; 
    width: 190px;
    position: relative; 
    transition: width 0.3s ease;
    outline: none;
}

.search:focus {
    width: 300px;
}

.search::placeholder {
    color: white;
}

.search_icon_inside {
    position: relative;
    left: calc(490px - 220px);
    top: 8px;
    transition: left 0.3s ease; 
}


.search_area {
    margin-left: 580px;
}

.input_form {
    display: flex;
    align-items: center;
    position: relative;
}

.close_icon {
    width: 20%;
    top: 9px;
    left: 60px;
    cursor: pointer;
    position: relative;
}

.badSearch {
    display: flex;
    align-items: center;
}

.navbar_main {
    display: flex;
}

.menu_icon {
    top: 2px;
    position: relative;
    margin-right: 30px;
}

.localMall_icon {
    margin-right: 20px;
}

.sidebar {
    margin-left: 1200px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 189px;
    border-radius: 2px;
    bottom: 20px;
    position: relative;
    z-index: 9;
}

.sidebar_link {
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}