body {
    margin: 0;
}
.navbar_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e1d4f;
    padding: 10px;
    color: white;
    height: 90%;
}

.heading_logo {
    width: 30%;
    right: 400px;
}

.link {
    top: -20px;
    color: white;
    position: relative;
    margin-left: 20px;
    text-decoration: none;
}

.search {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 23px;
    padding: 7px 7px 7px 30px; 
    width: 190px;
    position: relative; 
}

.search::placeholder {
    color: white;
}

.search_icon_inside {
    position: relative;
    left: 210px;
    top: 8px;
}

.input_form {
    display: flex;
    align-items: center;
    position: relative;
}

.close_icon {
    width: 20%;
    top: 9px;
    left: 7px;
    cursor: pointer;
    position: relative;
}

.badSearch {
    display: flex;
    align-items: center;
}

.navbar_main {
    display: flex;
}